
.toolbar-menu {

  .broken-feature {
    line-height: 34px !important;
    box-sizing: border-box;
    border: 3px solid black !important;
    background-image: linear-gradient(45deg, #d3d3d3, #d3d3d3) !important;
    border-image: repeating-linear-gradient(-45deg, #8b8b00, #8b8b00 9%, black 9%, black 18%) 3 !important;
    box-shadow: 0 0 2px inset black;
  }

  .broken {
    .broken-feature();
    background-image: linear-gradient(45deg, #525252 25%, #757500 25%, #757500 50%, #525252 50%, #525252 75%, #757500 75%, #757500 100%) !important;
    background-size: 14.14px 14.14px !important;
  }
}