html{
  height: 100%;
  user-select: none;
}
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.canvas-container, #svg, #pdf-canvas-container canvas{
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
  user-select: text;
  background: white;
};

.scroll-container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  display: flex;
}

.toolbar-menu{
  display: inline-flex;
}
#object-menu{
  &:after {
    content: "|";
    line-height: 45px;
    font-size: 28px;
  }
}


.demo{
  display: flex;
  flex-grow: 1;
  z-index: 1;
  position: relative;
  .page-container{
    flex-grow: 1;
    max-width: 100%;
    background: #525659;
    flex-direction: row;
    display: none;

    &.selected{
      display: flex;
    }

  }

  .flex-grow{
    flex-grow: 1;
    display: flex;
    position: relative;
  }
  .flex-column{
    display: flex;
    flex-direction: column;
  }

  .flex-middle{
    display: flex;
    flex-direction: row;
    font-size: 0;
    margin: auto;
    z-index: 1;
    padding: 300px;
  }
}

#iframe-container{
  width: 100%;
}

iframe,.demo.iframesvg-active{
  background: #525556;
}

.loader{
  font-size: 100px;
  color: aliceblue;
}
#properties-editor-container {
  padding: 0;
  display: flex;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  width: 310px !important;
  z-index: 5;

  .scroll-container{
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &.hidden{
    display: none;
  }
  .resizable-se{
    cursor: s-resize;
  }

  table {
    margin-top: 25px;
    width: 300px;
    border-collapse: collapse;
    input ,select {
      border: 0;
      height: 25px;
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }
  thead{
    position: fixed;
    width: 300px;
    margin-top: -25px;
  }
  th {
    background: #ccc;
  }

  th, td {
    width: 150px;
    border: 1px solid #ccc;
    line-height: 24px;
    padding: 0;
    font-size: 14px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:first-of-type {
      border-left: 0px !important;
    }
  }

  tr:nth-child(even) {
    background: #efefef;
  }
}
.resizable-se{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  background: grey;
  height: 10px;
  border-radius: 10px;
  margin: 1px;
  cursor: se-resize;
}
#code-editor-container ,#svg-editor-container{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 5px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 5;

  &.hidden{
    display: none;
  }
  .ace_editor{
    height: 100%;
    border: 1px solid gray;
  }

  .code-container{
    flex-grow: 1;

    textarea{
      width: 100%;
      height: 100%;
    }
  }
  .buttons{
    margin-top: 10px;
  }
}


#
top-panel {
  user-select: none;
  background: white;
  margin: 0;
  display: block;
  width: 100%;
  padding: 3px;
  z-index: 10;
  position: relative;
  height: 46px;


  button{
    cursor: pointer;
    height: 40px;
    border: 1px solid grey;
    background: aliceblue;
    border-radius: 0.5em;
    width: 40px;
    display: inline-block;
    color: black;
    padding: 0;
    transition: color 0.2s, text-shadow 0.2s;
  }
  select{
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 20px;
    padding: .6em 1.4em .5em .8em;
    max-width: 100%;
    margin: 0;
    width: 200px;
    border: 1px solid grey;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    vertical-align: bottom;
  }


  .tabs-container{
    float: right;

    .tab{
      cursor: pointer;
      font-size: 16px;
      background: grey;
      line-height: 36px;
      padding-top: 6px;
      width: 80px;
      bottom: 100%;
      margin-top: 1px;
      text-align: center;
      border-radius: 20px 20px 0 0;
      display: inline-block;
      margin-bottom: -3px;
      position: relative;

      &.selected{
        cursor: default;
        background: #323639;
      }
    }
  }
}

::-webkit-scrollbar-corner { background: transparent; }
::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  margin: 5px;
  border-radius: 10px;
  background-color: transparent;
}
.help-content::-webkit-scrollbar-track {
  margin: 85px 10px 10px;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #787e80;
  transition: all 0.5s;
}
::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
  background-color: #7FBC88;
}

html{
  min-width: 590px;
}
@media (min-width:911px){
  #code-editor-container{
    width: 40% !important;
    height: 100% !important;
    .resizable-se{
      display: none;
    }
  }
  #properties-editor-container{
    height: 100% !important;
    .resizable-se{
      display: none;
    }
  }
}
@media (max-width:910px){
  #code-editor-container, #properties-editor-container{
    width: 310px;
    position: absolute;
    top: 0px;
    height: 2000px;
    max-height: 100%;
    min-height: 20%;
  }
  #top-panel select{
    width: 150px;
  }
}

*{
  box-sizing: border-box;
}


.tools{
  background: #323639;
  width: 100%;
  color: white;
  height: 42px;
  text-align: right;

  .btn{
    cursor: pointer;
    height: 42px;
    line-height: 42px;
    border-radius: 10px;
    border: none;
    background: none;
    width: 36px;
    display: inline-block;
    color: white;
    padding: 0;
    transition: color 0.2s ,text-shadow 0.2s;
    &.active{
      color: orange;
      outline: none;
      text-shadow: white 0 0 10px;
    }
    i{
      font-size: 16px;
    }
  }
}

.toolbar-menu {
  .submenu{
    margin-top: 4px;
    background: #323639;
    border: none;
    &:before,&:after{
      background: #323639;
    }
  }

  .minicolors-theme-default.minicolors {
    width: 22px;
    height: 22px;
    margin: 10px 6px;
  }
}