@import url('./toolbar-elements');
@import url('./select');

.toolbar-menu .object-menu-item {

  &.object-menu-select {
    width: 168px;
    .select2-container{
      font-size: 14px;
      margin-right: 1px;
      .select2-selection{
        width: 100%;
        .select2-selection__rendered{
          line-height: 38px;
        }
        .fiera-input-text;
        .select2-selection__arrow{
          height: 40px;
        }
      }
    }

    &.images-selector{
      width: auto;
      .select2-container{
        width: 200px;
        position: absolute;
        left: 0;
        top: 100%;
        .selection{
          display: none;
        }
      }
      .select2-dropdown{
        width: 200px;
      }

      .select2-results > .select2-results__options {
        width: 200px;
      }
      .select2-results > .select2-results__options .select2-results__option {
        padding: 0;
        display: inline-block;
        width: 60px;
        float: left;
        height: 60px;
        border: 1px solid grey;
        margin: 1px;
        border-radius: 5px;
        position: relative;

        .filter-name {
          position: absolute;
          width: 60px;
          font-size: 9px;
          overflow: hidden;
          top: 46px;
          left: 0;
          text-align: center;
          color: white;
          background: rgba(0,0,0,.5);
        }
      }
    }
  }



}


.select2-dropdown {
  .select2-results__option {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    .canvas-img{
      max-width: 40px;
      max-height: 40px;
      margin: 2px;
      display: inline-block;
      font-size: 0;
    }
  }
}
