
@import url('./elements');

//text elements general styles
.fiera-input-text {
  height: 40px;
  line-height: 34px;
  margin: 1px;
  .gradient(#cecece, #f9f9f9, #f0f0f0);
  border-radius: 4px;
  border: 1px solid #cecece;
  box-sizing: border-box;
}


.fiera-button(){
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: lightgrey;
}


.fiera-popup{
  position: absolute;
  background: #ffffff;
  border: solid 1px #CCC;
  z-index: 99988;
  box-sizing: content-box;
  margin-top: 8px;
  box-shadow: 0 0 7px grey;
  border-radius: 6px;

  &:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    background: white;
    top: 0;
    display: block;
    left: 0;
    z-index: -1;
    border-radius: 6px;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 14px;
    width: 16px;
    height: 16px;
    background: white;
    transform: rotate(45deg);
    margin-bottom: -10px;
    z-index: -7;
    box-shadow: 0 0 7px grey;
  }
  &.popup-right{
    right: 0;
    &:after {
      right: 14px;
      left: auto;
    }
  }


}