
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    Toolbars

    example

    <div id="objects-menu" class="toolbar-menu">
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import url('./toolbar-elements');
@import url('./minicolors');
//@import url('./gradX.css');
@import url('./rangeslider');

@import url('./../tools/jstree/css/default-dark/style');
@import url('./../tools/gradient/css/anglepicker');
@import url('./../tools/gradient/css/gradients');
@import url('./../tools/gradient/css/jquery-ui');

@maincolor: black;

.toolbar-menu{
  color: @maincolor;
  .option-title,
  .button-title {
    display: none;
  }

  .btn{
    .fiera-button();

    &.fa-to-front:before {
      content: "\f3bf";
      border: solid;
      border-width: 2px 0 0 0;
      padding: 0 2px 0 1px;
    }

    &.fa-to-back:before {
      content: "\f3be";
      border: solid;
      border-width: 0 0 2px 0;
      padding: 0 2px 0 1px;
    }

    &.fa-crop-end:before {
      content: "\f125";
    }
    &.fa-crop-end:after {
      content: "\f00c";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 11px;
      position: absolute;
      right: 1px;
      bottom: 1px;
      text-shadow: 1px 1px 0 #444, -1px -1px 0 #444, -1px 1px 0 #444, 1px -1px 0 #444;
    }


    &.button-fontSize,
    &.button-fontFamily{
      display: none;
    }

  }


  .object-menu-item {
    display: inline-block;
    position: relative;
    vertical-align: middle;

    //----------------------------------------------------------------------------------------------------------------
    //    Buttons, checkboxes, text, range
    .btn {
      box-sizing: border-box;
      margin: 1px;
      padding: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      &:hover{
        //box-shadow: none;
      }

      img {
        width: 24px;
        height: 24px;
        margin: 8px;
      }
    }


    .object-menu-option {
    }


    &.object-menu-option {
      input[type="radio"] {
        display: none;
      }
    }


    &.object-menu-checkbox {
      &.checked{
        background-color: #7FBFDE;
      }
    }

    &.object-menu-number{
      input{
        position: relative;
        cursor: pointer;
        width: 60px;
        margin-right: 0;
        .fiera-input-text;
      }
      .input-group-addon.bfh-number-btn {
        position: absolute;
        &.inc{
          .fiera-button();
          font-size: 16px;
          padding: 0;
          margin:0;
          right:3px;
          top:3px;
          width: 16px;
          height: 16px;
          border-radius: 3px;
          line-height: 16px;
        }
        &.dec{
          .fiera-button();
          font-size: 16px;
          padding: 0;
          margin:0;
          bottom:3px;
          right:3px;
          width: 16px;
          height: 15px;
          border-radius: 3px;
          line-height: 16px;
        }
      }
    }
    &.object-menu-range{

        //background: white;
        //border-radius: 4px;
        //border: 1px solid #cecece;
        box-sizing: border-box;
        height: 40px;
        line-height: 40px;
        text-align: center;
        padding: 1px 3px;
        width: 82px;
        margin: 1px;

        input[type="range"]{
          width: 76px;
          height: 38px;
        }
    }

    //----------------------------------------------------------------------------------------------------------------
    //    SubMenu (clipart colors)
    &.object-menu-menu {
      padding: 0;

      > label {
        display: none;
        font-size: 12px;
        color: white;
        position: absolute;
        bottom: 100%;
        margin-bottom: 2px;
        text-transform: capitalize;
        border-bottom: 1px solid white;
        right: 2px;
        text-align: left;
        left: 0;
      }

      &.hovered,
      &.toggled{
        position: relative;

        .button-menu-trigger {
          display: block;
        }
      }
      //&:not(.toggled):not(.hovered){
      //  .button-menu-trigger {
      //    display: none;
      //  }
      //}
      //.object-menu.submenu {
      //  position: absolute;
      //  display: block ;
      //  z-index: 10;
      //}
    }

    &[disabled] {
      cursor: default;
      > *{
        opacity: 0.5;
        cursor: default;
      }
    }

    //----------------------------------------------------------------------------------------------------------------
    //  Parameters (popup windows)

    .menu-action-parameters {
      padding: 10px;
      text-align: left;
      width: 300px;
      position: absolute;
      bottom: 100%;
      background: white;
      right: -6px;
      margin-bottom: 10.1px;
      border-radius: 10px;
      &:after {
        content: "";
        position: absolute;
        top: 100%;
        border: 10px transparent solid;
        border-bottom: 0;
        border-width: 10px 10px 0 10px;
        border-top: white 10px solid;
        right: 20px;
      }
    }

    &.object-menu-select.fontsize-selector{
      width: 60px;
    }

  }

  .submenu {
    .fiera-popup();
  }
}
