
.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.gradient-block {
  overflow: hidden;
  margin: 0 0 128px 0;
}

.gradient-block .left-column {
  width: 400px;
  float: left;
}

.gradient-block .left-column > .holder {
  padding: 0 25px 20px;
  overflow: hidden;
}

.gradient-block .caption {
  display: block;
  margin: 0 0 17px;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  text-transform: uppercase;
}

.buttons-list {
  margin: 5px;
}
.presets-list {
  list-style: none;
  padding: 0;
  overflow: hidden;
  margin: 2px 9px 13px;
}

.presets-list li {
  float: left;
  width: 34px;
  height: 34px;
  border: 1px solid #e3e3e3;
  margin: 2px 0 0 2px;
}

.presets-list a {
  display: block;
  height: 100%;
}

.presets-list img {
  display: block;
}

.gradient-container {
  padding: 0 0 0 13px;
  margin: 0 0 17px;
}


.gradient-panel {
  width: 370px;
  height: 38px;
  border: 1px solid #d1d1d1;
  position: relative;
}


.color-knob {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 6px;
}

.color-knob div {
  top: -3px;
  left: -3px;
  width: 17px;
  height: 17px;
  position: absolute;
  border-radius: 50%;
  border: 3px solid white;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px black, 0px 0px 2px inset white;
}

.color-knob.selected div {
  border: 3px solid black;
}
.opacity-knob {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 6px;
}

.opacity-knob div {
  top: -3px;
  left: -3px;
  width: 17px;
  height: 17px;
  position: absolute;
  border-radius: 50%;
  border: 3px solid white;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px black, 0px 0px 2px inset white;
}

.opacity-knob.selected div {
  border: 3px solid black;
}

.slider-bar {
  width: 198px;
  height: 10px;
  position: relative;
  box-shadow: 0 1px 5px #eee inset;
}

.ui-slider-handle {

}

.ui-slider-handle:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.slider-bar.large {
  background-position: -170px -438px;
  width: 290px;
}

.slider-bar.hue-bar {
  background-position: 0 -380px;
}

.slider-bar.saturation-bar {
  background-position: 0 -400px;
}

.slider-bar.lightness-bar {
  background-position: 0 -420px;
}

.knob {
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  top: -3px;
}

.slider-bar .knob {
  left: 184px;
}

.slider-bar.hue-bar .knob,
.slider-bar.saturation-bar .knob,
.slider-bar.lightness-bar .knob {
  left: 92px;
}

.slider-bar.large .knob {
  left: 137px;
}

.gradient-block .preview-block {
  overflow: hidden;
  padding: 0 0 17px;
}

.gradient-block .preview-box {
  float: left;
  width: 290px;
  height: 240px;
  position: relative;
}

.gradient-block .preview-box span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.gradient-block .preview-box img {
  display: block;
}

.gradient-block .scroll-container {
  height: 340px;
  overflow: auto;
  margin: 0 0 0 0;
  font-size: 11px;
  line-height: 20px;
  color: #969696;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #CFCFCF;
}

.slider-bar.large .knob.pos-1 {
  left: 147px;
}

.slider-bar.large .knob.pos-2 {
  left: 167px;
}

.slider-bar.large .knob.pos-3 {
  left: 187px;
}


#css-code-content {
  text-align: left;
  overflow: auto;
  border: 0;
  height: 100%;
}

#opacity-value-slider-bar {
  background: rgba(255,255,255,0);
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    box-shadow: 0 1px 2px #bbb inset;
}

.stop-markers-color {
  display: block;
  cursor: pointer;
  height: 23px;
  margin-left: -5px;
  margin-right: -5px;
  z-index: 5;
  position: relative;
  width: auto;
  top: -10px;
}

.stop-markers-opacity {
  top: -10px;
  display: block;
  cursor: pointer;
  height: 23px;
  margin-left: -5px;
  margin-right: -5px;
  z-index: 5;
  position: relative;
  width: auto;
  margin-bottom: -23px;
}

.gradient-background {
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

#gradient-editor {
  position: relative;
  z-index: 2;
}

.colorpicker {
  z-index: 9;
}

#opacity-gradient {
  width: 150px;
  height: 10px;
  position: absolute;
  z-index: 9999;
  background: rgb(0,0,0);
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    border: 1px solid #555;
}



.load-gradient {
	width: 34px;
	height: 34px;
	cursor: pointer;
}

.gradient-block{
  position: relative;
}
.gradient-btn{
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #444;
  display: inline-block;
  border-radius: 7px;
  background: #dbdbdb;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2UxZTFkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGY4ZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: linear-gradient(to bottom, #dbdbdb 0%, #e1e1de 20%, #f8f8f3 100%);
}


#opacity-gradient span{
  background: grey;
  width: 10px;
  height: 20px;
  display: block;
  border: black 1px solid;
  position: relative;
  opacity: 0.5;
  box-sizing: border-box;
}

#load-grad-1 {
	background: #f85032;
	background: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
}
#load-grad-2 {
	background: #ff5db1;
	background: linear-gradient(to bottom,  #ff5db1 0%,#ef017c 100%);
}
#load-grad-3 {
	background: #fceabb;
	background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
}
#load-grad-4 {
	background: #efc5ca;
	background: linear-gradient(to bottom,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%);
}
#load-grad-5 {
	background: #ffaf4b;
	background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%);
}
#load-grad-6 {
	background: #d2ff52;
	background: linear-gradient(to bottom,  #d2ff52 0%,#91e842 100%);
}
#load-grad-7 {
	background: #e2e2e2;
  background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
#load-grad-8 {
	background: #f2f6f8;
	background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
}
#load-grad-9 {
	background: #f3e2c7;
	background: linear-gradient(to bottom,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%);
}
#load-grad-10 {
	background: #d4e4ef;
	background: linear-gradient(to bottom,  #d4e4ef 0%,#86aecc 100%);
}
#load-grad-11 {
	background: #a4b357;
	background: linear-gradient(to bottom,  #a4b357 0%,#75890c 100%);
}
#load-grad-12 {
	background: #627d4d;
	background: linear-gradient(to bottom,  #627d4d 0%,#1f3b08 100%);
	}
#load-grad-13 {
	background: #fcecfc;
	background: linear-gradient(to bottom,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%);
}
#load-grad-14 {
	background: #cb60b3;
	background: linear-gradient(to bottom,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
}
#load-grad-15 {
  background: #f1e767;
  background: linear-gradient(to bottom,  #f1e767 0%,#feb645 100%);
}
#load-grad-16 {
  background: #499bea;
  background: linear-gradient(to bottom,  #499bea 0%,#207ce5 100%);
}
#load-grad-17 {
  background: #ffffff;
  background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
}
#load-grad-18 {
  background: #93cede;
  background: linear-gradient(to bottom,  #93cede 0%,#75bdd1 41%,#49a5bf 100%);
}

#load-grad-19 {
  background: #f85032;
  background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
}

#load-grad-20 {
  background: #4c4c4c;
  background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
}

#load-grad-21 {
  background: #b3dced;
  background: linear-gradient(to bottom,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
}

#load-grad-22 {
  background: #a90329;
  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%);
}
#load-grad-23 {
  background: #fceabb;
  background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
}

#load-grad-23 {
  background: #ff0084;
  background: linear-gradient(to bottom,  #ff0084 0%,#ff0084 100%);
}

#load-grad-24{
  background: #ebe9f9;
  background: linear-gradient(to bottom,  #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%);
}
#load-grad-25 {
  background: #b7deed;
  background: linear-gradient(to bottom,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%);
}

/*! jQuery UI - v1.12.1 - 2019-08-31
* http://jqueryui.com
* Includes: draggable.css, core.css, slider.css
* Copyright jQuery Foundation and other contributors; Licensed MIT */

.ui-draggable-handle {
  -ms-touch-action: none;
  touch-action: none;
}
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
  z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
  pointer-events: none;
}


/* Icons
----------------------------------*/
.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.ui-widget-icon-block {
  left: 50%;
  margin-left: -8px;
  display: block;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

.ui-slider-horizontal {
  height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: .8em;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
