<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel='stylesheet' type='text/css' href="../colorpicker/css/colorpicker.css">
  <link rel='stylesheet' type='text/css' href="css/gradients.css">
  <link rel='stylesheet' type='text/css' href="css/anglepicker.css">
  <link rel='stylesheet' type='text/css' href="../../css/font-awesome.css">

  <script src="./../../lib/jquery.js"></script>
  <!--<script src="js/jquery-1.8.3.min.js"></script>-->
  <script src="js/jquery-ui.js"></script>
  <script src="../colorpicker/js/colorpicker.js"></script>
  <script src="js/colorFunctions.js"></script>
  <!--<script src="js/gradient.js"></script>-->
  <script src="js/gradient_old.js"></script>
  <script src="js/anglepicker.js"></script>
  <script src="js/locationpicker.js"></script>
</head>
<body>
<div class="gradient-block">
    <ul class="presets-list">
      <li>
        <div id="load-grad-1" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-2" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-3" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-4" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-5" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-6" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-7" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-8" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-9" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-10" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-11" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-12" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-13" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-14" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-15" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-16" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-17" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-18" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-19" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-20" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-21" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-22" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-23" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-24" class="load-gradient"></div>
      </li>
      <li>
        <div id="load-grad-25" class="load-gradient"></div>
      </li>
    </ul>
    <div class="gradient-container" id="gradient-tool">
      <div class="gradient-panel gradient-background">
        <div id="opacity-gradient" class="slider-bar large" style="display: none;"></div>
        <div class='stop-markers-opacity'></div>
        <div id="gradient-editor"></div>
        <div class='stop-markers-color'></div>
      </div>
      <div class="buttons-list">
        <span id="btn-reverse" class="gradient-btn"><i class="fas fa-arrows-alt-h"></i></span>
        <span id="btn-horizontal" class="gradient-btn"><i class="fas fa-arrow-right"></i></span>
        <span id="btn-vertical" class="gradient-btn"><i class="fas fa-arrow-down"></i></span>
        <span id="btn-diagonal-1" class="gradient-btn"><i class="fas fa-arrow-down  fa-rotate-45"></i></span>
        <span id="btn-diagonal-2" class="gradient-btn"><i class="fas fa-arrow-up  fa-rotate-45"></i></span>
        <span id="btn-radial" class="gradient-btn"><i class="far fa-circle"></i></span>
        <span id="anglepicker"></span>
        <span id="locationpicker"></span>
      </div>
      <div class="preview-block">
        <div id="gradient-preview" class="preview-box gradient-background"></div>
      </div>
    </div>
</div>

<div  style="display:none;">

    <div class="two-cols bottom-separator">
      <div class="col">
        <div class="holder">
          <div class="frame">
            <div class="setting-block">
              <div class="row">
                <label for="opacity">{% trans %}Opacity{% endtrans %}</label>
                <div class="text-1">
                  <input id="opacity" type="text" value="100"/>
                </div>
              </div>
              <div id="opacity-value-slider-bar" class="slider-bar"></div>
            </div>
            <div class="setting-block">
              <div class="row">
                <label for="opacity-location">{% trans %}Location{% endtrans %}</label>
                <div class="text-1">
                  <input id="opacity-location" type="text" value="100"/>
                </div>
                <label class="align-right" for="opacity-location">%</label>
              </div>
              <div id="opacity-location-slider-bar" class="slider-bar"></div>
            </div>
            <a id="opacity-delete-button" class="btn-link-1" href="javascript:;">{% trans %}Delete Selected Stop{%
              endtrans %}</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="holder">
          <div class="frame">
            <div class="setting-block">
              <div class="row color-row">
                <label for="color">{% trans %}Color{% endtrans %}</label>
                <div class="text-2">
                  <input pattern="#[a-zA-Z0-9]{6}" id="color-value-hex" class="color-label" type="text"
                         value="#2e4a75"/>
                </div>
                <a id="color-value-button" class="btn-color" href="javascript:;"><span>{% trans %}Color{% endtrans %}</span></a>
              </div>
            </div>
            <div class="setting-block">
              <div class="row">
                <label for="color-location">{% trans %}Location{% endtrans %}</label>
                <div class="text-1">
                  <input id="color-location" type="text" value="100"/>
                </div>
                <label class="align-right" for="color-location">%</label>
              </div>
              <div id="color-location-slider-bar" class="slider-bar"></div>
            </div>
            <a id="color-delete-button" class="btn-link-1" href="javascript:;">{% trans %}Delete Selected Stop{%
              endtrans %}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="holder">
        <div class="frame">
          <div class="col">
            <div class="setting-block">
              <div class="row">
                <label for="hue">{% trans %}Hue{% endtrans %}</label>
                <div class="text-1">
                  <input id="hue" type="text" value="0"/>
                </div>
              </div>
              <div class="slider-bar hue-bar"></div>
            </div>
            <div class="setting-block">
              <div class="row">
                <label for="saturation">{% trans %}Saturation{% endtrans %}</label>
                <div class="text-1">
                  <input id="saturation" type="text" value="0"/>
                </div>
              </div>
              <div class="slider-bar saturation-bar"></div>
            </div>
          </div>
          <div class="col">
            <div class="setting-block">
              <div class="row">
                <label for="lightness">{% trans %}Lightness{% endtrans %}</label>
                <div class="text-1">
                  <input id="lightness" type="text" value="0"/>
                </div>
              </div>
              <div class="slider-bar lightness-bar"></div>
            </div>
            <a id="reset-button" class="btn-link-1" href="javascript:;">{% trans %}Reset{% endtrans %}</a>
          </div>
        </div>
      </div>
    </div>





  <div class="save-block">
    <input id="save-cookie-input" type="text" onclick="this.value='';"
           value="{% trans %}Save your preset{% endtrans %}" onfocus="this.select()"
           onblur="this.value=!this.value?'{% trans %}Save your preset{% endtrans %}':this.value;"/>
    <a id="save-cookie-btn" href="javascript:;" class="btn-save">save cookie</a>
  </div>

  <select id="color-format">
    <option value="hex">hex</option>
    <option value="hsl">hsl</option>
    <option value="hsla">hsla</option>
    <option value="rgb">rgb</option>
    <option value="rgba">rgba</option>
  </select>

  <input type="checkbox" id="css-sass-button">CSS/SASS
  <input type="checkbox" id="comments-button">comments
  <input type="checkbox" id="ie9-button">IE9 support
  <textarea id="import-css-area"></textarea>
  <a href="javascript:;" id="import-css-button-ok" class="btn-link-2">ACCEPT</a>
</div>


  <script>
    $(function(){
      createGradient();
    })
    // $("#gradient-tool").gradientEditor({});
  </script>
</body>
</html>